.theme-detail {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-height: 200px;
  grid-template-areas: "info color";
  background-color: lightgrey;
  color: black;
  border-radius: 10px;
}

.theme-display {
  grid-area: color;
  position: relative;
}

.theme-info {
  grid-area: info;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-role {
  font-size: 18px;
  font-weight: bold;
}

.theme-hex {
  color: grey;
  font-size: 14px;
}

.hex-name {
  font-size: 16px;
}
