.theme__list {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-height: 200px;
  grid-template-areas: "info color";
  background-color: lightgray;
  color: black;
  border-radius: 10px;
}

.list__display {
  grid-area: color;
  position: relative;
}

.list__info {
  grid-area: info;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list__role {
  font-size: 20px;
  font-weight: bold;
}

.list__hex {
  color: darkgray;
}
