.main__container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px 16px;
}

.theme__title {
  font-size: 30px;
}

.color__list {
  display: grid;
  gap: 10px;
}

ul {
  list-style: none;
}

/* .theme-list {
  display: grid;
  gap: 3rem;
} */
